<div class="scrollable container-fluid" ng-controller="ManageProductsController">
    <div class=row>
        <div class=col-sm-12>
            <div class="page-headers cus-panels-with-pad">
                <div class="block-options pull-right">
                    <button type=button class=sec-cus-buttons data-ng-click="ClearProductdatas()" data-toggle=modal data-target="#myModal"> <i class="fa fa-plus"></i> New Product </button>
                    <!-- Modal -->
                    <div class="modal fade" id="myModal" tabindex=-1 role=dialog aria-labelledby=myModalLabel>
                        <div class=modal-dialog role=document>
                            <div class=modal-content>
                                <div class="modal-header cus-bg ng-scope">
                                    <button type=button class=close data-dismiss=modal aria-label=Close> <span aria-hidden=true>×</span> <span class=sr-only>Close</span> </button>
                                    <h4 class="modal-title ng-binding">Add a New Product</h4>
                                </div>
                                <div class=modal-body>
                                    <div class="row">
                                        
                                        <div class="col-md-12">
                                            <form name="NewManageProductsForm" novalidate>
                                                <div class=row>
                                                    <div class="col-md-6 col-lg-6">
                                                        <div class=form-group>
                                                            <label for="">Product Name<span class=required> *</span></label>
                                                            <div class="control-group" ng-class=" {true: 'error'}[submitted && NewManageProductsForm.prname.$invalid]">
                                                                <input name="prname" ng-model="prname" class=form-control required ng-pattern="/^[ a-zA-Z]{1,70}$/">
                                                                <span style="color:red" ng-show="submitted && NewManageProductsForm.prname.$error.required">Enter Product Name</span>
                                                                <span style="color:red" ng-show="NewManageProductsForm.prname.$error.pattern">Product Name is Invalid</span></div>
                                                            </div>
                                                    </div>
                                                    <div class="col-md-6 col-lg-6">
                                                        <div class=form-group>
                                                            <label for="">Batch No<span class=required> *</span></label>
                                                            <div class="control-group" ng-class=" {true: 'error'}[submitted && NewManageProductsForm.batchno.$invalid]">
                                                                <input name="batchno" ng-model="batchno" class=form-control required ng-pattern="/^[ a-zA-Z0-9]{1,15}$/">
                                                                <span style="color:red" ng-show="submitted && NewManageProductsForm.batchno.$error.required">Enter Batch No</span>
                                                                <span style="color:red" ng-show="NewManageProductsForm.batchno.$error.pattern">Batch No is Invalid</span></div>
                                                            </div>
                                                    </div>
                                                </div>
                                                <div class=row>
                                                    <div class="col-md-6 col-lg-6">
                                                        <div class=form-group>
                                                            <label for="">Company Name<span class=required> *</span></label>
                                                            <div class="control-group" ng-class=" {true: 'error'}[submitted && NewManageProductsForm.selectedcompany.$invalid]">
                                                                <select class=form-control name="selectedcompany" ng-model="selectedcompany" ng-options="company.company_id as company.company_name for company in vendorlist" ng-pattern="/^[a-zA-Z]{1,40}$/" required>
                                                                    <option value="" disabled selected style='display:none;'>-- Select Company Name --</option>
                                                                </select>
                                                                <span style="color:red" ng-show="submitted && NewManageProductsForm.selectedcompany.$error.required">Select Company Name</span>
                                                            </div>
                                                            </div>
                                                    </div>
                                                    <div class="col-md-6 col-lg-6">
                                                        <div class=form-group>
                                                            <label for="">Product ID<span class=required> *</span></label>
                                                            <div class="control-group" ng-class=" {true: 'error'}[submitted && NewManageProductsForm.producid.$invalid]">
                                                                <input name="producid" ng-model="producid" class=form-control required ng-pattern="/^[ 0-9a-zA-Z]{1,19}$/">
                                                                <span style="color:red" ng-show="submitted && NewManageProductsForm.producid.$error.required">Enter Product ID</span>
                                                                <span style="color:red" ng-show="NewManageProductsForm.producid.$error.pattern">Product ID is Invalid</span> </div>
                                                            </div>
                                                    </div>
                                                </div>
                                                <div class=row>
                                                    <div class="col-md-6 col-lg-6">
                                                        <div class=form-group>
                                                            <label for="">Retail Cost<span class=required> *</span></label>
                                                            <div class="control-group" ng-class=" {true: 'error'}[submitted && NewManageProductsForm.retilcost.$invalid]">
                                                                <input name="retilcost" ng-model="retilcost" class=form-control required ng-pattern="/^[.0-9]{1,9}$/">
                                                                <span style="color:red" ng-show="submitted && NewManageProductsForm.retilcost.$error.required">Enter Retail Cost</span>
                                                                <span style="color:red" ng-show="NewManageProductsForm.retilcost.$error.pattern">Retail Cost is Invalid</span></div>
                                                            </div>
                                                    </div>
                                                    <div class="col-md-6 col-lg-6">
                                                        <div class=form-group>
                                                            <label for="">Notes</label>
                                                            <div class="control-group" ng-class=" {true: 'error'}[submitted && NewManageProductsForm.pronotes.$invalid]">
                                                                <input name="pronotes" ng-model="pronotes" class=form-control>
                                                                <span style="color:red" ng-show="submitted && NewManageProductsForm.pronotes.$error.required">Give Notes</span>
                                                            </div>
                                                            </div>
                                                    </div>
                                                </div>
                                                <div class=row>
                                                    <div class="col-md-6 col-lg-6">
                                                        <div class=form-group>
                                                            <label for="">Product Cost<span class=required> *</span></label>
                                                            <div class="control-group" ng-class=" {true: 'error'}[submitted && NewManageProductsForm.producost.$invalid]">
                                                                <input name="producost" ng-model="producost" class=form-control required ng-pattern="/^[.0-9]{1,9}$/">
                                                                <span style="color:red" ng-show="submitted && NewManageProductsForm.producost.$error.required">Enter Product Cost</span>
                                                                <span style="color:red" ng-show="NewManageProductsForm.producost.$error.pattern">Product Cost is Invalid</span></div>
                                                            </div>
                                                    </div>
                                                    <div class="col-md-6 col-lg-6">
                                                        <div class=form-group>
                                                            <label for="">Quantity<span class=required> *</span></label>
                                                            <div class="control-group" ng-class=" {true: 'error'}[submitted && NewManageProductsForm.prduqty.$invalid]">
                                                                <input name="prduqty" ng-model="prduqty" class=form-control required ng-pattern="/^[0-9]{1,9}$/">
                                                                <span style="color:red" ng-show="submitted && NewManageProductsForm.prduqty.$error.required">Enter Quantity</span>
                                                                <span style="color:red" ng-show="NewManageProductsForm.prduqty.$error.pattern">Quantity is Invalid</span></div>
                                                            </div>
                                                    </div>
                                                </div>
                                                <div class=row>
                                                    <div class="col-md-6 col-lg-6">
                                                        <div class=form-group>
                                                            <label for="">Reorder Quantity<span class=required> *</span></label>
                                                            <div class="control-group" ng-class=" {true: 'error'}[submitted && NewManageProductsForm.reordrqty.$invalid]">
                                                                <input name="reordrqty" ng-model="reordrqty" class=form-control required ng-pattern="/^[0-9]{1,9}$/">
                                                                <span style="color:red" ng-show="submitted && NewManageProductsForm.reordrqty.$error.required">Enter Reorder Quantity</span>
                                                                <span style="color:red" ng-show="NewManageProductsForm.reordrqty.$error.pattern">Reorder Quantity is Invalid</span> </div>
                                                            </div>
                                                    </div>
                                                    <div class="col-md-6 col-lg-6">
                                                        <div class=form-group>
                                                            <label for="">Serial NO<span class=required> *</span></label>
                                                            <div class="control-group" ng-class=" {true: 'error'}[submitted && NewManageProductsForm.prducseno.$invalid]">
                                                                <input name="prducseno" ng-model="prducseno" class=form-control required ng-pattern="/^[ a-zA-Z0-9]{1,11}$/">
                                                                <span style="color:red" ng-show="submitted && NewManageProductsForm.prducseno.$error.required">Enter Serial No</span>
                                                                <span style="color:red" ng-show="NewManageProductsForm.prducseno.$error.pattern">Serial NO is Invalid</span></div>
                                                            </div>
                                                    </div>
                                                </div>
                                                <div class=row>
                                                    <div class="col-md-12 col-lg-12">
                                                        <div class=form-group>
                                                            <label for="">Description<span class=required> *</span></label>
                                                            <div class="control-group" ng-class=" {true: 'error'}[submitted && NewManageProductsForm.prdudesc.$invalid]">
                                                                <textarea name="prdudesc" ng-model="prdudesc" class=form-control rows=3 required></textarea>
                                                                <span style="color:red" ng-show="submitted && NewManageProductsForm.prdudesc.$error.required">Give Description</span>
                                                            </div>
                                                            </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-sm-12 col-md-6">
                                                        <div class="dz-default"><img ng-src="{{imagedata}}" height="150" width="242" ng-model="imk"/> </div>
                                                        <div class="text-center pad-5">
                                                            <input type="file" id="file" name="file">
                                                            @*<br>
                                                            <button type="button" ng-click="addproducphoto()" class="pri-cus-buttons">Upload</button>*@

                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                <div class=modal-footer>
                                    <button type=button class="btn btn-default" data-dismiss=modal>Close</button>
                                    <button type=button class="btn btn-primary" ng-click="AddProduct()">Add</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <h3>Manage Product</h3>
            </div>
            <!-- .page-header End -->
            <div class=contents>
                <div class=main-box>
                    <div class=row>
                        <div class=col-lg-12>
                            <div style=min-height:1220px>
                                <!-- Dashboard Header -->
                                <!-- For an image header add the class 'content-header-media' and an image as in the following example -->
                                <!-- END Dashboard Header -->
                                <!-- Datatables Content -->
                                <div class="block full mar-top15 cus-panels-with-pad lisiting">
                                    <div class="table-responsive mar-top15">
                                        <div id=TblStaff_wrapper class=dataTables_wrapper role=grid>
                                            <div class=row>
                                                <div class="col-sm-3 col-xs-4">
                                                    <div class="dataTables_length" id=TblStaff_length>
                                                        <label>
                                                            <select name=TblStaff_length aria-controls=TblStaff class=form-control ng-model="itemsPerPage" ng-change="pageCount()" ng-options="valuE for valuE in Vaalues"></select>
                                                        </label>
                                                        <button href=#target type=button class="btn btn-hove" ng-click="productFilter()" data-toggle=collapse><i class="fa fa-filter"></i></button>
                                                    </div>
                                                </div>
                                                <div class="col-md-offset-6 col-md-3 col-sm-6 col-xs-7">
                                                    <div class=dataTables_filter id=TblStaff_filter>
                                                        <label style=width:100%>
                                                            <div class=input-group>
                                                                <input aria-controls=TblStaff class=form-control ng-model="findproduct" placeholder=Search> <span class=input-group-addon><i class="fa fa-search"></i></span>
                                                            </div>
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                            @*Loader spinner for the ManageProducts *@
                                            <div id="manageProductsloader" class="overlays" style="display: block;" ng-show="MainProducts">
                                                <img src="~/images/spinningcurser.gif" style="position:absolute;z-index: 99; top:30%; left:50%; margin-top:-70px; margin-left:-70px; height:50px;  width:50px;" />
                                            </div>
                                            <!---- Table Content Start ----->
                                            <table id=TblStaff class="table table-vcenter table-condensed table-bordered dataTable center table-striped" aria-describedby=TblStaff_info>
                                                <thead>
                                                    <tr role=row>
                                                        <th style="display: none; width: 0px" class="text-center sorting_asc" role=columnheader tabindex=0 aria-controls=TblStaff rowspan=1 colspan=1 aria-sort=ascending aria-label=": activate to sort column descending">
                                                        </th>
                                                        <th class="text-center sorting_disabled" role=columnheader rowspan=1 colspan=1 aria-label="" style="width: 110px"><i class="fa fa-user"></i>
                                                        <th width=15% role=columnheader style="width: 320px" ng-click="ManageproductSort(asc=!asc,'company_type_name');"> Product Name  <i class="fa fa-sort"></i>
                                                        <th width="" role=columnheader style="width: 188px"> Product Code
                                                        <th role=columnheader style="width: 150px">Cost
                                                        <th width="" role=columnheader style="width: 135px"> In Stock
                                                        <th width="" class=sorting_disabled role=columnheader style="width: 250px"> Action
                                                    <tr id="target" class=collapse>
                                                        <td></td>
                                                        <td>
                                                            <div>
                                                                <input placeholder="Product Name" ng-model="prodctsnames" class=form-control>
                                                            </div>
                                                        <td>
                                                            <div>
                                                                <input placeholder="Product Code" ng-model="productcodes" class=form-control>
                                                            </div>

                                                        <td>
                                                            <div>
                                                                <input placeholder="Rate" ng-model="ratevalues" class=form-control>
                                                            </div>
                                                        <td>
                                                            </td>
                                                        <td>
                                                        </td>
                                                      
                                                <tbody id=tbody-staff role=alert aria-live=polite aria-relevant=all>
                                                    <tr class="odd invoice-hide" ng-repeat="ProdUCTS in ProductsLists | pagination : currentPage*itemsPerPage | limitTo: itemsPerPage | filter:findproduct | filter:{product_name:prodctsnames,product_code:productcodes,retail_cost:ratevalues}" ng-click="CompanyFilter(ProdUCTS.product_id)">
                                                        <td style=display:none class="text-center sorting_1">

                                                        <td class=text-center>
                                                            <img ng-src="data:image/JPEG;base64,{{ProdUCTS.file_data}}" alt=avatar style="width:50px" class=img-circle ng-show="ProdUCTS.file_data.length != 0">
                                                            <img src=~/images/default_product.jpg alt=avatar style="width:50px" class=img-circle ng-show="ProdUCTS.file_data.length == 0">
                                                        <td class="" style="text-align:left;">{{ProdUCTS.product_name}}
                                                        <td>{{ProdUCTS.product_code}}
                                                        <td>{{ProdUCTS.retail_cost}}
                                                        <td>{{ProdUCTS.reorder_quantity}}
                                                        <td>

                                                            <ul class="user-select-enable reset">
                                                                <li data-toggle=modal data-target="#productview">
                                                                    <button type=button class="btn btn-hove" data-toggle=tooltip title="View Product Details"><i class="fa fa-eye"></i></button>
                                                                </li>
                                                                <li data-toggle=modal data-target=#productID>
                                                                    <button type=button class="btn btn-hove" ng-click="ClearUpdateProductdatas()" data-toggle=tooltip title="Edit Product Details"><i class="fa fa-pencil"></i></button>
                                                                </li>
                                                                <li data-toggle=modal data-target=#>
                                                                    <button type=button class="btn btn-hove" data-toggle=tooltip title="Delete Product" ng-click="productsdelete(ProdUCTS.product_id,$index)"><i class="fa fa-trash-o"></i></button>
                                                                </li>
                                                            </ul>
                                            </table>
                                            <div class="pagination-div text-right">
                                                <ul class="pagination">
                                                    <li ng-class="DisablePrevPage()">
                                                        <a href="" ng-click="prevPage()">« Prev</a>
                                                    </li>
                                                    <li ng-repeat="n in range()" ng-class="{active: n == currentPage}" ng-click="setPage(n)">
                                                        <a href="">{{n+1}}</a>
                                                    </li>
                                                    <li ng-class="DisableNextPage()">
                                                        <a href="" ng-click="nextPage()">Next »</a>

                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- END Datatables Content -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <!---- Product Madel ---->
            <div class="modal fade" id=productID tabindex=-1 role=dialog aria-labelledby=myModalLabel>
                <div class=modal-dialog role=document>
                    <div class=modal-content>
                        <div class="modal-header cus-bg ng-scope">
                            <button type=button class=close data-dismiss=modal aria-label=Close> <span aria-hidden=true>×</span> <span class=sr-only>Close</span> </button>
                            <h4 class="modal-title ng-binding">Update Product</h4>

                        </div>
                        <div class=modal-body>

                            <form name="ManageProductForm" novalidate>
                                @*Loader spinner for the ManageProducts *@
                                <div id="editproductdloader" class="overlays" style="height:100%; width:97%;" ng-show="Products">
                                    <img src=" ~/images/spinningcurser.gif" style="position:absolute; height:30px;  left:47%; top:40%; width:30px;" />
                                </div>
                                <div class=row>
                                    <div class="col-md-6 col-lg-6">
                                        <div class=form-group>
                                            <label for="">Product Name<span class=required> *</span></label>
                                            <div class="control-group" ng-class=" {true: 'error'}[submitted && ManageProductForm.uPprname.$invalid]">
                                                <input name="uPprname" ng-model="uPprname" class=form-control required ng-pattern="/^[ a-zA-Z]{1,70}$/">
                                                <span style="color:red" ng-show="submitted && ManageProductForm.uPprname.$error.required">Enter Product Name</span>
                                                <span style="color:red" ng-show="ManageProductForm.uPprname.$error.pattern">Product Name is Invalid</span></div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-lg-6">
                                        <div class=form-group>
                                            <label for="">Batch No<span class=required> *</span></label>
                                            <div class="control-group" ng-class=" {true: 'error'}[submitted && ManageProductForm.uPbatchno.$invalid]">
                                                <input name="uPbatchno" ng-model="uPbatchno" class=form-control required ng-pattern="/^[ 0-9a-zA-Z]{1,11}$/">
                                                <span style="color:red" ng-show="submitted && ManageProductForm.uPbatchno.$error.required">Enter Batch No</span>
                                                <span style="color:red" ng-show="ManageProductForm.uPbatchno.$error.pattern">Batch No is Invalid</span></div>
                                        </div>
                                    </div>
                                </div>
                                <div class=row>
                                    <div class="col-md-6 col-lg-6">
                                        <div class=form-group>
                                            <label for="">Company Type<span class=required> *</span></label>
                                            <div class="control-group" ng-class=" {true: 'error'}[submitted && ManageProductForm.uPselectedcompany.$invalid]">
                                                <select class=form-control name="uPselectedcompany" ng-model="uPselectedcompany" ng-options="company.company_id as company.company_name for company in vendorlist" required>
                                                  
                                                </select>
                                                <span style="color:red" ng-show="submitted && ManageProductForm.uPselectedcompany.$error.required">Select Company Type</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-lg-6">
                                        <div class=form-group>
                                            <label for="">Product ID<span class=required> *</span></label>
                                            <div class="control-group" ng-class=" {true: 'error'}[submitted && ManageProductForm.uPproducid.$invalid]">
                                                <input name="uPproducid" ng-model="uPproducid" class=form-control required ng-pattern="/^[ 0-9a-zA-Z]{1,15}$/">
                                                <span style="color:red" ng-show="submitted && ManageProductForm.uPproducid.$error.required">Enter Product ID</span>
                                                <span style="color:red" ng-show="ManageProductForm.uPproducid.$error.pattern">Product ID is Invalid</span></div>
                                        </div>
                                    </div>
                                </div>
                                <div class=row>
                                    <div class="col-md-6 col-lg-6">
                                        <div class=form-group>
                                            <label for="">Retail Cost<span class=required> *</span></label>
                                            <div class="control-group" ng-class=" {true: 'error'}[submitted && ManageProductForm.uPretilcost.$invalid]">
                                                <input name="uPretilcost" ng-model="uPretilcost" class=form-control required ng-pattern="/^[.0-9]{1,9}$/">
                                                <span style="color:red" ng-show="ManageProductForm.uPretilcost.$error.required">Enter Retail Cost</span>
                                                <span style="color:red" ng-show="ManageProductForm.uPretilcost.$error.pattern">Retail Cost is Invalid</span></div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-lg-6">
                                        <div class=form-group>
                                            <label for="">Notes</label>
                                            <div class="control-group" ng-class=" {true: 'error'}[submitted && ManageProductForm.uPpronotes.$invalid]">
                                                <input name="uPpronotes" ng-model="uPpronotes" class=form-control required>
                                                <span style="color:red" ng-show="submitted && ManageProductForm.uPpronotes.$error.required">Give Notes</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class=row>
                                    <div class="col-md-6 col-lg-6">
                                        <div class=form-group>
                                            <label for="">Product Cost<span class=required> *</span></label>
                                            <div class="control-group" ng-class=" {true: 'error'}[submitted && ManageProductForm.uPproducost.$invalid]">
                                                <input name="uPproducost" ng-model="uPproducost" class=form-control required ng-pattern="/^[.0-9]{1,9}$/">
                                                <span style="color:red" ng-show="submitted && ManageProductForm.uPproducost.$error.required">Enter Product Cost</span>
                                                <span style="color:red" ng-show="ManageProductForm.uPproducost.$error.pattern">Product Cost is Invalid</span></div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-lg-6">
                                        <div class=form-group>
                                            <label for="">Quantity<span class=required> *</span></label>
                                            <div class="control-group" ng-class=" {true: 'error'}[submitted && ManageProductForm.uPprduqty.$invalid]">
                                                <input name="uPprduqty" ng-model="uPprduqty" class=form-control required ng-pattern="/^[0-9]{1,7}$/">
                                                <span style="color:red" ng-show="submitted && ManageProductForm.uPprduqty.$error.required">Enter Quantity</span>
                                                <span style="color:red" ng-show="ManageProductForm.uPprduqty.$error.pattern">Quantity is Invalid</span></div>
                                        </div>
                                    </div>
                                </div>
                                <div class=row>
                                    <div class="col-md-6 col-lg-6">
                                        <div class=form-group>
                                            <label for="">Reorder Quantity<span class=required> *</span></label>
                                            <div class="control-group" ng-class=" {true: 'error'}[submitted && ManageProductForm.uPreordrqty.$invalid]">
                                                <input name="uPreordrqty" ng-model="uPreordrqty" class=form-control required ng-pattern="/^[0-9]{1,7}$/">
                                                <span style="color:red" ng-show="submitted && ManageProductForm.uPreordrqty.$error.required">Enter Reorder Quantity</span>
                                                <span style="color:red" ng-show="ManageProductForm.uPreordrqty.$error.pattern">Reorder Quantity is Invalid</span></div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-lg-6">
                                        <div class=form-group>
                                            <label for="">Serial No<span class=required> *</span></label>
                                            <div class="control-group" ng-class=" {true: 'error'}[submitted && ManageProductForm.uPprducseno.$invalid]">
                                                <input name="uPprducseno" ng-model="uPprducseno" class=form-control required ng-pattern="/^[ a-zA-Z0-9]{1,9}$/">
                                                <span style="color:red" ng-show="submitted && ManageProductForm.uPprducseno.$error.required">Enter Serial NO</span>
                                                <span style="color:red" ng-show="ManageProductForm.uPprducseno.$error.pattern">Serial NO is Invalid</span></div>
                                        </div>
                                    </div>
                                </div>
                                <div class=row>
                                    <div class="col-md-12 col-lg-12">
                                        <div class=form-group>
                                            <label for="">Description<span class=required> *</span></label>
                                            <div class="control-group" ng-class=" {true: 'error'}[submitted && ManageProductForm.uPprdudesc.$invalid]">
                                                <textarea name="uPprdudesc" ng-model="uPprdudesc" class=form-control rows=3 required></textarea>
                                                <span style="color:red" ng-show="submitted && ManageProductForm.uPprdudesc.$error.required">Give Description</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class=modal-footer>
                            <button type=button class="btn btn-default" data-dismiss=modal>Close</button>
                            <button type=button class="btn btn-primary" ng-click="UpdateProduct()">Update</button>
                        </div>
                    </div>
                </div>
            </div>


            <!---- Company View ---->
            <div class="modal fade" id="productview" tabindex=-1 role=dialog aria-labelledby=myModalLabel>
                <div class=modal-dialog role=document>
                    <div class=modal-content>
                        <div class="modal-header cus-bg ng-scope">
                            <button type=button class=close data-dismiss=modal aria-label=Close> <span aria-hidden=true>×</span> <span class=sr-only>Close</span> </button>
                            <h4 class="modal-title ng-binding">Product Details</h4>
                        </div>
                        <div class=modal-body>
                            @*Loader spinner for the ManageProducts *@
                            <div id="editproductdloader" class="overlays" style="height:100%; width:97%;" ng-show="Products">
                                <img src=" ~/images/spinningcurser.gif" style="position:absolute; height:30px;  left:47%; top:40%; width:30px;" />
                            </div>
                            <div class="table-responsive mar-top15">
                                <table id=tbl_profile class="table table-borderless table-striped">
                                  
                                    <tbody>
                                        <tr><td><label>Product Image</label>
                                                <img ng-src="data:image/JPEG;base64,{{productValues.file_data}}" class="img-circle" style="width:120px;height:90px;" alt="User image" ng-show="productValues.file_data.length != 0">
                                                <img src=~/images/default_product.jpg alt=avatar style="width:50px" class=img-circle ng-show="productValues.file_data.length == 0">
                                            </td></tr>
                                        <tr>
                                            <td>
                                                <label>Product Code</label>
                                            <td><a id=a_name>{{productValues.product_code}}</a>
                                        <tr>
                                            <td>
                                                <label>Product Name</label>
                                            <td><a id=a_name>{{productValues.product_name}}</a>
                                        <tr>
                                            <td>
                                                <label>Product Description</label>
                                            <td> <span id=u_name>{{productValues.product_desc}}</span>
                                        <tr>
                                            <td>
                                                <label>Quantity</label>
                                            <td> <span>{{productValues.quantity}}</span>
                                        <tr>
                                            <td>
                                                <label>Reorder Quantity</label>
                                            <td><a id=a_name>{{productValues.reorder_quantity}}</a>

                                        <tr>
                                            <td>
                                                <label>Vendor ID</label>
                                            <td> <span>{{productValues.vendor_id}}</span>
                                        <tr>
                                            <td>
                                                <label>Vendor Name</label>
                                            <td><a id=a_name>{{productValues.vendor_name}}</a>
                                         
                                        <tr>
                                            <td>
                                                <label>Notes</label>
                                            <td><a id=a_name>{{productValues.notes}}</a>
                                        
                                       

                      </table>
                            </div>
                        </div>
                        <div class=modal-footer>
                            <button type=button class="btn btn-default" data-dismiss=modal>Close</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- .content End -->
        </div>
    </div>
</div>
<footer class=footer-wrapper>
    <div class=row>
        <div class="col-sm-12 col-md-8">
            <p class=mar-0-10>© Copyright 2015 <a href=#>Petzcare</a>. All Rights Reserved.</p>
        </div>
    </div>
</footer>


<!-- Modal -->


