<div class="scrollable container-fluid" ng-controller="UserRoleMapController">
    <div class="row">
        <div class="col-sm-12">
            <div class="page-headers cus-panels-with-pad">

                <h3>Manage User Roles</h3>
            </div> <!-- .page-header End -->

            <div class="contents">
                <div class="main-box">
                    <div class="row">
                        <div class="col-lg-12">
                            <div style="min-height:1220px;">
                                <!-- Dashboard Header -->
                                <!-- For an image header add the class 'content-header-media' and an image as in the following example -->
                                <!-- END Dashboard Header -->
                                <!-- Datatables Content -->
                                <div class="block full mar-top15 cus-panels-with-pad lisiting">

                                    <div class="table-responsive mar-top15">
                                        <div id="TblStaff_wrapper" class="dataTables_wrapper" role="grid">
                                            <div class="row">
                                                <div class="col-sm-6 col-xs-5">
                                                    <div class="block-options">

                                                        <div class="dropdown">

                                                            <button class="primarary-cus-btn dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                                                <span><i class="fa fa-plus"></i></span>
                                                                Create New
                                                                <span class="caret"></span>
                                                            </button>
                                                            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                                                <li><a ng-if="multivalue != 0" ng-click="clearUserRoleMapping()" data-toggle="modal" data-target="#myModal"><span><i class="fa fa-user-plus"></i></span>Add User Role Mapping</a></li>
                                                                <li><a ng-if="multivalue == 0" ng-click="errormessage1()"><span><i class="fa fa-user-plus"></i></span>Add User Role Mapping</a></li>
                                                                <li><a ng-disabled="onehides" ng-if="multivalue == 0" data-toggle="modal" data-target="#myModal3"><span><i class="fa fa-pencil-square"></i></span> Edit User Role Mapping</a></li>
                                                                <li><a ng-if="multivalue != 0" ng-click="errormessage()"><span><i class="fa fa-pencil-square"></i></span> Edit User Role Mapping</a></li>
                                                                <li><a ng-disabled="onehides" ng-if="multivalue == 0"  data-toggle="modal" data-target="#myModal2"><span><i class="fa fa-eye"></i></span>View User Role Mapping</a></li>
                                                                <li><a ng-if="multivalue != 0" ng-click="errormessage()"><span><i class="fa fa-eye"></i></span>View User Role Mapping</a></li>
                                                               
                                                            </ul>
                                                        </div>

                                                    </div>
                                                </div>

                                                <!-- Modal -->
                                                <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" ng-hide="multivalue == 0">
                                                    <div class="modal-dialog" role="document">
                                                        <div class="modal-content">
                                                            <div class="modal-header cus-bg ng-scope">
                                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                    <span aria-hidden="true">×</span> <span class="sr-only">Close</span>
                                                                </button>
                                                                <h4 class="modal-title ng-binding">Add New User Role</h4>
                                                            </div>
                                                            <div class="modal-body">
                                                                <form name="AddUserRoleForm" novalidate>
                                                                    <div class="row">
                                                                        <div class="col-sm-12">
                                                                            <div class="form-group">
                                                                                <label for="">Select User<span class="required"> *</span></label>
                                                                                <div class="control-group" ng-class=" {true: 'error'}[submitted &&  AddUserRoleForm.selecteduruser.$invalid]">
                                                                                    <select class="form-control" ng-model="selecteduruser" name="selecteduruser" ng-options="d.user_id as d.user_name for d in uruser" required>
                                                                                        <option value="" disabled selected style='display:none;'>
                                                                                            -- Select User --
                                                                                        </option>
                                                                                    </select>
                                                                                    <span style="color:red" ng-show=" submitted && AddUserRoleForm.selecteduruser.$error.required">Select User</span>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-sm-12">
                                                                            <div class="form-group">
                                                                                <label for="">Select Role<span class="required"> *</span></label>
                                                                                <div class="control-group" ng-class=" {true: 'error'}[submitted &&  AddUserRoleForm.selectediteM.$invalid]">
                                                                                    <dropdown-multiselect2 pre-selected="members.nam5" name="selectediteM" ng-model="selected_items5" model="selected_items5" options="nam5" required></dropdown-multiselect2>
                                                                                    <span style="color:red" ng-show="submitted && AddUserRoleForm.selectediteM.$error.required">Select UserRole</span>
                                                                                </div>
                                                                               
                                                                                </div>
                                                                        </div>
                                                                    </div>
                                                                </form>
                                                            </div>
                                                            <div class="modal-footer">
                                                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                                                <button type="submit" class="btn btn-primary" ng-click="urmadd()">Add</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>


                                                <!-- Edit User Role Modal -->
                                                <div class="modal fade" id="myModal3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" ng-show="multivalue == 0">
                                                    <div class="modal-dialog" role="document">
                                                        <div class="modal-content">
                                                            <div class="modal-header cus-bg ng-scope">
                                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                    <span aria-hidden="true">×</span> <span class="sr-only">Close</span>
                                                                </button>
                                                                <h4 class="modal-title ng-binding">Edit User Role</h4>
                                                            </div>
                                                            <div class="modal-body">
                                                                <form name="UpdateUserForm" novalidate>
                                                                    <div class="row">
                                                                        <div class="col-sm-12">
                                                                            <div class="form-group">
                                                                                <label for="">Select User<span class="required"> *</span></label>
                                                                                <div class="control-group" ng-class=" {true: 'error'}[submitted &&  UpdateUserForm.userrole.$invalid]">
                                                                                    <select class="form-control" ng-model="selectedupduser" name="userrole" required ng-options="d.user_id as d.user_name for d in uruser"></select>
                                                                                    <span style="color:red" ng-show=" submitted && UpdateUserForm.userrole.$error.required">Select UserRole</span>
                                                                                </div>
                                                                                </div>
                                                                        </div>

                                                                        <div class="col-sm-12">
                                                                            <div class="form-group">
                                                                                <label for="">Select Role<span class="required"> *</span></label>
                                                                                <div class="control-group" ng-class=" {true: 'error'}[submitted &&  UpdateUserForm.selecteditems5.$invalid]">
                                                                                    <dropdown-multiselect2 pre-selected="members.nam5" model="selected_items5" ng-model="selected_items5" name="selecteditems5" options="nam5" required></dropdown-multiselect2>
                                                                                    <span style="color:red" ng-show=" submitted && UpdateUserForm.selecteditems5.$error.required">Select UserRole</span>
                                                                                </div>
                                                                                </div>
                                                                        </div>
                                                                    </div>
                                                                </form>
                                                            </div>
                                                            <div class="modal-footer">
                                                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                                                <button type="submit" id="useredit" class="btn btn-primary" ng-click="urmadd1()">Update</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <!-- View User Role Modal -->
                                                <div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" ng-show="multivalue == 0">
                                                    <div class="modal-dialog" role="document">
                                                        <div class="modal-content">
                                                            <div class="modal-header cus-bg ng-scope">
                                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                    <span aria-hidden="true">×</span> <span class="sr-only">Close</span>
                                                                </button>
                                                                <h4 class="modal-title ng-binding">Permissions Available</h4>
                                                            </div>
                                                            <div class="modal-body">
                                                                <form>
                                                                    <div class="row">
                                                                        <div class="table-responsive mar-top15">
                                                                            <table id="tbl_profile" class="table table-borderless bordernone table-striped">
                                                                                <tbody>
                                                                                    <tr>
                                                                                        <td style="width:25%;"><strong>User Name</strong></td>
                                                                                        <td>{{ urolempdatas.user_name }}</td>
                                                                                    </tr>
                                                                                    <tr>
                                                                                        <td style="width:25%;"><strong>Role Name</strong></td>
                                                                                        <td><i class="fa fa-check-square"></i>{{ urolempdatas.role_name }}</td>
                                                                                    </tr>
                                                                                </tbody>
                                                                            </table>
                                                                        </div>
                                                                    </div>
                                                                </form>
                                                            </div>
                                                            <div class="modal-footer">
                                                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-offset-3 col-md-3 col-sm-6 col-xs-7">
                                                    <div class="dataTables_filter" id="TblStaff_filter">
                                                        <label style="width:100%;">
                                                            <div class="input-group">
                                                                <input type="text" aria-controls="TblStaff" class="form-control" ng-model="val" placeholder="Search">
                                                                <span class="input-group-addon"><i class="fa fa-search"></i></span>
                                                            </div>
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                            @*Loader spinner for the  User Role*@
                                            <div id="userRoleloader" class="overlays" style="display: block;">
                                                <img src="~/images/spinningcurser.gif" style="position:absolute;z-index: 99; top:30%; left:50%; margin-top:-70px; margin-left:-70px; height:50px;  width:50px;" />
                                            </div>
                                            <table id="TblStaff" class="table table-vcenter table-condensed table-bordered dataTable table-striped" aria-describedby="TblStaff_info">
                                                <thead>
                                                    <tr role="row">
                                                        <th width="" class="sorting text-center" style="width:15%;">
                                                            Select
                                                        </th>
                                                        <th class="sorting text-center" style="width:30%;" role="columnheader" tabindex="0" aria-controls="TblStaff" rowspan="1" colspan="1" aria-label="
                                                                Email
                                                            : activate to sort column ascending" ng-click="UserRolesSort(asc=!asc,'user_name');">
                                                            User Name  <i class="fa fa-sort"></i>
                                                        </th>
                                                        <th width="" class="sorting_disabled text-center" role="columnheader" rowspan="1" colspan="1" aria-label="
                                                                Phone Number
                                                            ">
                                                            Role
                                                        </th>
                                                        <th width="" class="text-center" role="columnheader">
                                                            Action
                                                        </th>

                                                    </tr>
                                                </thead>

                                                <tbody id="tbody-staff" role="alert" aria-live="polite" aria-relevant="all">
                                                    <tr class="odd" ng-repeat="urmap in userroledatas | pagination : currentPage*itemsPerPage | limitTo: itemsPerPage | orderBy:orderByField:reverseSort | filter:val">
                                                        <td class="sorting_1 text-center">
                                                            <div>
                                                                <label>
                                                                    <input type="checkbox" ng-model="urmap.checking" ng-click="edit(urmap.mapping_id,urmap.checking)" ng-change="Onehide(urmap.checking)">
                                                                </label>
                                                            </div>
                                                        </td>

                                                        <td class="text-center">{{ urmap.user_name }}</td>
                                                        <td>
                                                            <div class=mar-5>
                                                                <div class=row>
                                                                    <div class=col-sm-3 ng-if="urmap.role_name"><i class="fa fa-check-square"></i>{{ urmap.role_name }}</div>

                                                                </div>
                                                            </div>
                                                        </td>
                                                        <td class="text-center">
                                                            <div class="btn-group lisiting">
                                                                <div class="inline-options user-select-enable">
                                                                    <button type=button class="btn btn-hove" data-toggle="modal" data-target="#" ng-click="userroledelete(urmap.mapping_id,$index)"> <i class="fa fa-trash-o"></i></button>
                                                                </div>
                                                            </div>
                                                        </td>
                                                    </tr>

                                                </tbody>
                                            </table>
                                            <div class="pagination-div text-right">
                                                <ul class="pagination">
                                                    <li ng-class="DisablePrevPage()">
                                                        <a href="" ng-click="prevPage()">« Prev</a>
                                                    </li>
                                                    <li ng-repeat="n in range()" ng-class="{active: n == currentPage}" ng-click="setPage(n)">
                                                        <a href="">{{n+1}}</a>
                                                    </li>
                                                    <li ng-class="DisableNextPage()">
                                                        <a href="" ng-click="nextPage()">Next »</a>

                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>
                </div>
            </div> <!-- .content End -->
        </div>
    </div>
</div>
<footer class="footer-wrapper">

    <div class="row">
        <div class="col-sm-12 col-md-8">
            <p class="mar-0-10">© Copyright 2015 <a href="#">Petzcare</a>. All Rights Reserved.</p>
        </div>
    </div>

</footer>









    <!-- User Profile Modal -->
<div class="modal fade" id="userprofile" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header cus-bg ng-scope">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span> <span class="sr-only">Close</span>
                </button>
                <h4 class="modal-title ng-binding">John Carter</h4>

            </div>
            <div class="modal-body">
                <form>
                    <div class="row">
                        <div class="col-md-6 col-lg-6">
                            <div class="form-group">
                                <label for="">Title<span class="required"> *</span></label>
                                <select class="form-control">
                                    <option>-- Select --</option>
                                    <option>Mr</option>
                                    <option>Mrs</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-6">
                            <div class="form-group">
                                <label for="f-name">First Name</label>
                                <input type="text" class="form-control" id="f-name">
                                <span class="required hidden">Validation Error</span>
                            </div>

                        </div>

                    </div>



                    <div class="row">

                        <div class="col-md-6 col-lg-6">
                            <div class="form-group">
                                <label for="m-name">Middle Name</label>
                                <input type="text" class="form-control" id="m-name">
                                <span class="required hidden">Validation Error</span>
                            </div>

                        </div>
                        <div class="col-md-6 col-lg-6">
                            <div class="form-group">
                                <label for="l-name">Last Name</label>
                                <input type="text" class="form-control" id="l-name">
                                <span class="required hidden">Validation Error</span>
                            </div>

                        </div>

                    </div>

                    <div class="row">


                        <div class="col-md-6 col-lg-6">
                            <div class="form-group">
                                <label for="">Company Name</label>
                                <select class="form-control">
                                    <option>-- Select --</option>
                                    <option>Petzcare</option>
                                    <option>Pets world</option>
                                </select>
                            </div>

                        </div>
                        <div class="col-md-6 col-lg-6">
                            <div class="form-group">
                                <label for="">EmployeeCode</label>
                                <input type="text" name="lastName" class="form-control">
                            </div>

                        </div>

                    </div>

                    <div class="row">

                        <div class="col-md-6 col-lg-6">
                            <div class="form-group">
                                <label for="">ID Cardnumber</label>
                                <input type="text" name="idcardnumber" class="form-control">
                            </div>

                        </div>
                        <div class="col-md-6 col-lg-6">
                            <div class="form-group">
                                <label for="">Select Designation</label>
                                <select class="form-control">
                                    <option>-- Select --</option>
                                    <option>Admin</option>
                                    <option>User</option>
                                </select>
                            </div>

                        </div>

                    </div>

                    <div class="row">

                        <div class="col-md-6 col-lg-6">
                            <div class="form-group">
                                <label for="">Select Department</label>
                                <select class="form-control">
                                    <option>-- Select --</option>
                                    <option>Service</option>
                                    <option>Manager</option>
                                </select>
                            </div>

                        </div>
                        <div class="col-md-6 col-lg-6">
                            <div class="form-group">
                                <label for="">Date Of Birth<span class="required"> *</span></label>
                                <input type="text" name="Formmailid" ng-model="user.firstName" class="form-control" id="" placeholder="Enter Date of Birth" ng-minlength="1" ng-maxlength="50" required="">
                            </div>

                        </div>

                    </div>

                    <div class="row">

                        <div class="col-md-6 col-lg-6">
                            <div class="form-group">
                                <label for="">Date Of Joining<span class="required"> *</span></label>
                                <input type="text" name="Formmailid" class="form-control" id="" required="">
                            </div>

                        </div>
                        <div class="col-md-6 col-lg-6">
                            <div class="form-group">
                                <label for="">Phonenumber<span class="required"> *</span></label>
                                <input type="tel" name="Formmailid" class="form-control" id="" required="">
                            </div>

                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6 col-lg-6">
                            <div class="form-group">
                                <label for="">Permanent Address<span class="required"> *</span></label>
                                <input type="text" class="form-control" name="Formmailid" required="">
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-6">
                            <div class="form-group">
                                <div class="form-group">
                                    <label for="">Temporary Address<span class="required"> *</span></label>
                                    <input type="text" class="form-control" name="Formmailid" required="">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6 col-lg-6">
                            <div class="form-group">
                                <label for="">Country</label>
                                <select class="form-control">
                                    <option>-- Select --</option>
                                    <option>United States</option>
                                    <option>United Kingdom</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-6">
                            <div class="form-group">
                                <label for="">State</label>
                                <select class="form-control">
                                    <option>-- Select --</option>
                                    <option>Sanjose</option>
                                    <option>Cupartino</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="row">

                        <div class="col-md-6 col-lg-6">
                            <div class="form-group">
                                <label for="">City</label>
                                <select class="form-control">
                                    <option>-- Select --</option>
                                    <option>Santaclara</option>
                                    <option>Sanjose</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-6">
                            <div class="form-group">
                                <label for="">Zipcode<span class="required"> *</span></label>
                                <input type="text" class="form-control" id="" required="">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6 col-lg-6">
                            <div class="form-group">
                                <div class="form-group">
                                    <label for="">Emai ID</label>
                                    <input type="text" class="form-control" id="">
                                </div>

                            </div>
                        </div>
                        <div class="col-md-6 col-lg-6">
                            <div class="form-group">
                                <label for="">Fax</label>
                                <input type="text" class="form-control" id="">
                            </div>
                        </div>
                    </div>


                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save</button>
            </div>
        </div>
    </div>
</div>



















